{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}
{% block body %}
    <div id="app" data-is-authenticated="{{ isAuthenticated }}" data-user="{{ user }}"></div>
{% endblock %}