{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('frontend') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('frontend') }}
{% endblock %}
{% block body %}
    <div id="app"></div>
{% endblock %}