<!DOCTYPE html>
<html style="height: 100%;">
    <head>
        <!-- ... -->

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body style="height: 100%;">
        {% block body %}

        {% endblock %}
    </body>
</html>